@model SingleGamePageModel

@if(Model.GameReviews is not null && Model.GameReviews.Count>0)
{
    foreach(var rev in Model.GameReviews)
    {
        <div class="reviwsArea d-flex borderS mb-2 p-2">
            <div class="revUserAvatar">

                @if (rev.User.AvatarImage.Length == 0)
                {
                    <img src="~/img/useravatars/user.jpg" alt="user.jpg" class="rounded-circle" />
                }
                else
                {
                    @Html.Raw("<img class='rounded-circle' src=\"data:image/jpeg;base64,"
                                               + Convert.ToBase64String(rev.User.AvatarImage) + "\" />")
                }
            </div>
            <div class="w-100 ms-2">
                <div class="row w-100 h5">
                    <div class="col">@rev.User.CustomUserName</div>
                    <div class="col text-end">@((rev.DateModified is null) ? rev.DateCreate : "изм. " + rev.DateModified.Value)</div>
                </div>
                <div class="row w-100">
                    <div class="col-12 reviewsTxt">@rev.Review</div>
                </div>

                <div class="row w-100">
                    <div class="col-12 d-flex justify-content-end">
                        @if(User.Identity.IsAuthenticated is true)
                        {
                            <div class="btn-group">
                                @if(rev.User.Email == User.Identity.Name)
                                {
                                    <button type="button"
                                            class="btn btn-sm btn-outline-primary js-reviewBTN"
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="right"
                                            title="Редактировать" 
                                            data-reviewId="@rev.Id"
                                            data-reviewAction="editReview"><i class="fa-solid fa-pencil"></i>
                                    </button>
                                  
                                    <button type="button"   
                                            class="btn btn-sm btn-outline-danger js-reviewBTN" 
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="right"
                                            title="Удалить"
                                            data-reviewId="@rev.Id"
                                            data-reviewAction="elasticRemove"><i class="fa-solid fa-trash-can"></i></button>
                                }
                               
                                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="Пожаловаться"><i class="fa-solid fa-flag"></i></button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    if (!Model.HasMoreReview)
    {
        <script>
            $("#loadMoreReviewBtn").hide();
        </script>
    }
}
else
{
    <h5>Отзывов нет ((</h5>
    <script>
        $("#loadMoreReviewBtn").hide();
    </script>
}
