@model SingleGamePageModel
@{
    string pos = $"width: {Model.GameReviewStats.Positive}%";
    string neg = $"width: {Model.GameReviewStats.Negative}%";
}

<div class="progress custom-progress">
    <div class="progress-bar progress-bar-positive" role="progressbar" style="@pos" aria-valuenow="@Model.GameReviewStats.Positive" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar progress-bar-negative" role="progressbar" style="@neg" aria-valuenow="@Model.GameReviewStats.Negative" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="legend">
    <div class="legend-item">
        <div class="legend-circle positive"></div>
        <span>Положительные отзывы - @Model.GameReviewStats.Positive%</span>
    </div>
    <div class="legend-item">
        <div class="legend-circle negative"></div>
        <span>Отрицательные отзывы - @Model.GameReviewStats.Negative%</span>
    </div>
</div>