@model SingleGamePageModel

@{
    ViewData["Title"] = (Model.Game is null) ?  Model.ErrorVM.Title : Model.Game.Name;
    string nodata = "Нет данных";
    SliderModel sliderModel = new();
    if(Model.Screenshots.Count() > 0)
    {
        sliderModel.IsSingleGamePage = Model.IsSingleGamePage;
        sliderModel.Screenshots = Model.Screenshots;
    }
  
}

@section js {
    <script>
        $("#showvideo").off("click").on("click", function () {
            $("#modalGameVideo").modal("show");
        });
        
        $("#addtoshcart").off("click").on("click", function ()
        {
           $("#modalAddToShoppingCart").modal("show");
        });
    </script>
}


<div class="row mt-5 mb-3">

    <div class="col-md-3">
        <div class="gamePageMainInfo singlegame-area borderS p-2 text-center ">
            <div class="">
                <h4>@Model.Game.Name</h4>
            </div>

            <div>
                @Html.Raw("<img  src=\"data:image/png;base64,"
                         + Convert.ToBase64String(Model.Game.Poster) + "\" />")
            </div>

            <div class="mt-2">
                <button type="button" id="showvideo" class="btn btn-outline-primary btn-lg">
                    <i class="fa-solid fa-play"></i>
                    Смотреть трейлер
                </button>
            </div>
            <div class="d-flex flex-wrap  h5 mt-2">
              
                <div class="m-1 p-1 h4">
                  
                   
                    @if (Model.Game.IsShare is true)
                    {
                        <s> @Model.Game.Price</s>  @Model.Game.SharePrice
                    }
                    else
                    {
                        @((Model.Game.GameKeys.Count() > 0) ? Model.Game.Price : "")
                    }
                    @((Model.Game.GameKeys.Count() > 0) ? "BYN" : "")
                </div>
                
                
                <div class="btn-group mx-auto mb-3  float-end btn-lg">
                    <button type="button" class="btn btn-outline-primary btn-lg" data-bs-toggle="tooltip" data-bs-placement="right" title="Добавить в список желаемого"><i class="fas fa-star"></i></button>
                    @if (Model.Game.GameKeys.Count() > 0)
                    {
                        <button type="button" id="addtoshcart" class="btn btn-success btn-lg">В Корзину</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-success  btn-lg" disabled>Нет в наличии</button>
                    }
                </div>
            </div>
        </div>

        <div class="gamePageInfo mt-3 p-2 borderS">
            <div class="">
                <div class="d-flex flex-wrap">
                    <div class="mtxt">Разработчик: @Model.Game.Developer.Name</div>
                    <div class="mtxt">Дата выхода: @Model.Game.ReleaseDate.ToString("dd.MM.yyyy")</div>
                </div>
            </div>
        </div>

        <div class="gamePageInfo mt-3 p-2 borderS">
            <div class="">
                <div class="d-flex flex-wrap mtxt">
                    @foreach (var pl in Model.Platforms)
                    {
                        <div class="bg-platform m-1  p-1 text-white">@pl.Name</div>
                    }
                </div>
            </div>
        </div>

        <div class="gamePageInfo mt-3 p-2 borderS">
            <div class="">
                <div class="d-flex flex-wrap mtxt">
                    @foreach(var gn in Model.Genres)
                    {
                        <div class="bg-ganre m-1 p-1 text-white">@gn.Name</div>
                    }
                </div>
            </div>
        </div>

        <div class="gamePageInfo mt-3 p-2 borderS">
            <div class="text-center">
                <button class="btn btn-outline-danger btn-lg">
                    <i class="fa-solid fa-flag"></i>
                    Сообщить о проблеме
                </button>
            </div>
        </div>

    </div>

    <div class="col-md-9">

        <div class="row singlegame-area mb-3">
            <div class="text-wrap description-text">
               @Model.Game.Description    
            </div>
        </div>

        @if(Model.Screenshots.Count() > 0)
        {
            <div class="row">
                @await Html.PartialAsync("_Partial.Index.Slider", sliderModel)
            </div>
        }
      

        <div class="row mt-2 singlegame-area mt-3 mb-3">
            <div class="mtxt">
                <h4>Системные требования:</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Операционная система: @((Model.Game.Os is null) ? nodata : Model.Game.Os)</li>
                    <li class="list-group-item">Процессор: @((Model.Game.Cpu is null) ? nodata : Model.Game.Cpu) </li>
                    <li class="list-group-item">Видиокарта: @((Model.Game.Gpu is null) ? nodata : Model.Game.Gpu)</li>
                    <li class="list-group-item">Оперативная память: @((Model.Game.Ram is null) ? nodata : Model.Game.Ram)</li>
                    <li class="list-group-item">Занимаймое место на диске: @((Model.Game.Weight is null) ? nodata : Model.Game.Weight)гб</li>
                </ul>
            </div>
        </div>
    </div>
</div>



@await Html.PartialAsync("_Partial.GamePage.Modal.Video", Model.Game.YtLinkGameTrailer)


<div id="modalWrapper">
@await Html.PartialAsync("_Partial.Index.Modal.AddInShCart")
</div>

<div id="modalActionWrapper">
    @await Html.PartialAsync("_Partial.Action.DataNotSaved")
    @await Html.PartialAsync("_Partial.Action.Warning")
    @await Html.PartialAsync("_Partial.Action.Success")
    @await Html.PartialAsync("_Partial.Action.Error") 
</div>

<div id="lastActionDataWrapper">
 @*    @await Html.PartialAsync("_Partial.ActionResult", Model.LastAction) *@
</div>
