@model ShoppingCartDataModel
@{
    ViewData["Title"] = "Корзина";
}

@section js
{
    <script>

      
        $(document).ready(function () {
            btnManager();

            //НАСТРОЙКА ПОВЕДЕНИЯ МОДАЛОК - Алерты
            AddHandlerClickForButtonsOfActionModals('modalPaymentMethods', 'shoppingCart');

            //НАСТРОЙКА ПОВЕДЕНИЯ МОДАЛОК: Setting modal Create & Edit
            AddHandlerShownModalForCreateEditModal("modalPaymentMethods", "PaymentMethodsForm");

           
        });

        // ШАГ 2. НАСТРОЙКА МАРШРУТОВ
        function GetURLForAjaxByActionType(actionType) {
            var url = "";
            switch (actionType) {
                case "edit":
                    url = '@Url.Action("GetPartialWorkOnData", "ShoppingCart")';
                    break;
            }
            return url;
        }
        // ШАГ 3. ВЫЗОВ ДОПОЛНИТЕЛЬНЫХ ФУНКЦИЙ В ГЛАВНОМ AJAX МЕТОДЕ
        function SettingBehaviorOfModalWindow(boxId, section) {
        
        }

        function btnManager()
        {
            $(".js-del-btn").off("click").on("click", function () {
                var section = $(this).attr("data-section");
                var gameKeyId = (section == "delItem") ? $(this).attr("data-gamekeyId") : 0;
                var isDeleteAll = (section == "delItem") ? false : true;
                AjaxActionSoppingCart(isDeleteAll, gameKeyId, section);
            });

        }


        function AjaxActionSoppingCart(isDeleteAll, gameKeyId, section) {
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("DeleteGameFromShoppingCart", "ShoppingCart")',
                data: { isDeleteAll: isDeleteAll, gameKeyId: gameKeyId},
                dataType: "html",
                success: function (data) {
                    switch (section) {
                        case "delAll":
                            location.reload();
                            break;
                        case "delItem":
                            $(".shcart-js").empty().append(data);
                            btnManager();
                            getTotalPrice();
                            break;
                    }

                  
                  
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Ошибка !!!');
                }
            });
        }

        function getTotalPrice()
        {
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetActualPriceShoppingCart", "ShoppingCart")',
                data: { },
                dataType: "json",
                success: function (data) {

                    // Обновляем текст кнопки с актуальной ценой
                    $('.orderButton').text('Оформить заказ: ' + data + ' BYN');

                    if(data == 0)
                    {
                        $(".js-del-btn").prop("disabled", true);
                        $('.orderButton').prop("disabled", true);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Ошибка !!!');
                }
            });
        }


        $(".js-orderbtn").off('click').on('click', function () {
            var orderId = $(this).attr("data-orderId");
            var actionType = "edit";
            var message = "Вы уверены, что хотите начать оплату?";
            var title = "";
            var section = "";

            PrepareWarningModal(orderId, title, message, actionType, section);
            $("#modalActionWarning").modal('show');
        });

    </script>
}

<div class="row">
    <h1>Корзина</h1>
</div>

@if(Model.ShoppingCart is not null && Model.ShoppingCart.GamesKeys.Count() > 0)
{
    <div class="row">
        <div class="shopcart-area shcart-js">

            @await Html.PartialAsync("_Partial.ShoppingCart.Items", Model)

        </div>
    </div>

    <div class="row">
        <div class="btn-area d-flex">
            <div class="btn-report-area">
                <button class="btn btn-outline-danger btn-lg">
                    <i class="fa-solid fa-flag"></i>
                    Сообщить о проблеме
                </button>
            </div>

            <div class="btn-group btn-manager-shopcart" role="group">
                <button type="button" data-section="delAll" class="btn btn-lg btn-outline-danger js-del-btn">Очистить корзину</button>
                <button type="button" data-orderId="@Model.ShoppingCart.Id" class="btn btn-lg btn-outline-success orderButton js-orderbtn">Оформить заказ: @Model.ShoppingCart.TotalPrice BYN</button>
            </div>
        </div>
    </div>




}
else
{
    <div class="row">
        <div class="borderS justify-content-center text-center fst-italic">
            <h1 class="">Корзина пустая ((</h1>
        </div>
    </div>
}
<div id="modalWrapper">
</div>
<div id="modalActionWrapper">
    @await Html.PartialAsync("_Partial.Action.DataNotSaved")
    @await Html.PartialAsync("_Partial.Action.Warning")
    @await Html.PartialAsync("_Partial.Action.Success")
    @await Html.PartialAsync("_Partial.Action.Error")
</div>
<div id="lastActionDataWrapper">
    @await Html.PartialAsync("_Partial.ActionResult", Model.LastAction)
</div>





